header {
    text-align: center;
    color: gold;
    position: relative;
    top: 0px;
    font-size: 50px;
    float: none;
  }

.footer {
    position: relative;
    bottom: 0px;
    font-family: 'Varela round', sans-serif;
    font-size: 30px;
    color: seagreen;
  }



.aboutBluejeno {
    position: relative;
    top: 0px;
    font-family: 'Varela round', sans-serif;
    text-align: center;
    font-size: 38px;
    color: chocolate;
}
