header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: 50px;
}

h2 { 
  font-size: 40px;
  text-align: center;
  color:burlywood;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

.header-image {
  max-width: 150px;
  height: 200px;
  margin-left: auto; /* Move the logo to the right */
}


.card {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: 25%
}



.topnav {
    background-color: none;
    text-align: center;
    overflow: hidden;
  }

.topnav a {
    font-size: 50px;
    float: left;
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }

  .aboutBluejenco {
    position: relative;
    top: 0px;
    font-family: 'Varela round', sans-serif;
    text-align: center;
    font-size: 38px;
    color: chocolate;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: none;
    padding: 10px;
  }

.grid-item {
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
    position: relative;
    bottom: 0px;
    font-family: 'Varela round', sans-serif;
    font-size: 30px;
    text-align: center;
    color: seagreen;
  }
